name: CI
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  cache:
    name: CI cache
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4.2.0
        with:
          run_install: false
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm i

  lint:
    name: Check linting
    runs-on: ubuntu-latest
    needs: cache
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4.2.0
        with:
          run_install: false
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm i
      - run: pnpm lint

  test:
    name: Run tests
    runs-on: ubuntu-latest
    needs: cache
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4.2.0
        with:
          run_install: false
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm i
      - run: pnpm test

  build-and-release:
    name: build and release
    runs-on: ubuntu-latest
    needs: [cache, lint]
    steps:
      - uses: actions/checkout@v6
        with:
          # pulls all commits (needed for lerna / semantic release to correctly version)
          fetch-depth: '0'
      - name: Setup git user
        run: |
          git config --global user.name "$(git --no-pager log --format=format:'%an' -n 1)"
          git config --global user.email "$(git --no-pager log --format=format:'%ae' -n 1)"
      - uses: pnpm/action-setup@v4.2.0
        with:
          run_install: false
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'
      - run: pnpm i
      - name: Build package
        if: ${{ github.event_name == 'pull_request' }}
        run: pnpm build
      - name: release package
        if: ${{ success() && github.ref == 'refs/heads/main' && github.event_name == 'push' }}
        run: pnpm release:ci
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          NPM_CONFIG_REGISTRY: https://registry.npmjs.org/
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
